<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='otel-ekle-css.css') }}">
    <link rel="stylesheet" href="fonts/gotham/gotham.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Latest compiled and minified CSS -->
        <script type ="text/javascript" src="navbar.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--Google icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Bootsrap icon-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>

  <body class="bb">
    <script>
    $(document).ready(function () {
    $('.nav-link').click(function() {
      $('.nav-item').removeClass('active');

      $(this).addClass('active');
      console.log("Clicked...");
    });
});

      $(function() {
  $('#ChangeToggle').click(function() {
    $('#navbar-hamburger').toggleClass('hidden');
    $('#navbar-close').toggleClass('hidden');
  });
});
      </script>
    <div class="main-banner">

      <div class="container">

          <nav class="navbar fixed-top navbar-expand-md navbar-white">
               <button id="ChangeToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#NavCol">
                  <div id="navbar-hamburger">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="	glyphicon glyphicon-th-list"></span>
                  </div>
                  <div id="navbar-close" class="hidden">
                    <span class="glyphicon glyphicon-remove"></span>
                  </div>
                </button>
              <div class="logo"><a class="" href="/admin_page"><b><span style="color:#05A081;">OTEL </span></b><span style="color:black;">REZERVASYON</span></a></div>
               <div class="collapse navbar-collapse" id="NavCol" style="float:right;">
                <ul class="navbar-nav" style="float:right;">
                  <li class="nav-item "><a  href="/admin_page">Ana Sayfa</a> </li>
                  <li class="nav-item"><a class="active" href="/otel_listele-admin">Oteller</a> </li>
                  {% if not current_user.is_authenticated %}  
                  <li class="nav-item"><a  href="{{ url_for('user.login') }}  ">Giriş Yap </a> </li>
                  <li class="nav-item"><a  href="{{ url_for('user.register') }}">Kayıt Ol</a> </li>  
                  {% endif %}       
                  {% if current_user.is_authenticated %}         
                  <li class="nav-item"><a  href="{{ url_for('user.logout') }}">Çıkış Yap</a> </li> 
                  {% endif %} 
                </ul>
                </div>
            </nav>

            <div class="container">
              <div class="admin-islemleri">
              <a href="/otel_listele_admin">Oteller</a>
              <a  style="color:#05A081!important;" href="/otel_sayfasi">Otel Ekle</a>
              <a href="/otel_guncelle">Otel Güncelle</a>
              <a href="/otel_sil">Otel Sil</a>
              </div>
            </div>

          </div>
        </div>
            <div class="blok">
              <form action = "{{ url_for('otel_ekle')}}", method = "POST">
                <h1 style="text-align: center;"> <b> Otel Ekle</b></h1>
                 <span class="spans">Otel Adı</span>
                 <input type = "text" name = "otel" class="otela"/><br>
                 <div class="otelp">
                 <span class="spans">Otel Puanı</span>
                 <input type = "text" name = "otelP" /><br>
                </div>
                <div class="otelf">
                 <span class="spans">Otel Fiyatı</span>
                 <input type = "text" name = "otelF"/><br>
                </div>
                 <div >
                 <input type = "submit" value = "Otel Ekle"class="buton" /><br>
                 </div>
              </form>
            </div>
  </body>
</html>
